body{
    padding: 0;
    margin: 0;

}
.navbar{
    width: 100%;
    height: 50px;
    background-color: black;
    text-align: center;
    line-height: 50px;
}
.textClass{    
    color: white;
    font-size: 22px;
    font-weight: bold;
}